div#basic-navbar-nav {
    margin: 10px;
}
input.btn.btn-primary {
    background-color: #7952b3 !important;
    border: 1px solid #7952b3;
    color: #fff !important;
    padding: 8px 35px;
    width: 100%;
}